{% extends "base.html.twig" %}

{% block body %}

    <div class="py-5 text-center">

        <img class="d-block mx-auto mb-4" src="{{ asset('images/kubernetes.png') }}"
             alt="" height="72">

        <h1>+</h1>

        <img class="d-block mx-auto mb-4" src="{{ asset('images/symfony.svg') }}"
             alt="" height="72">

        <h2 class="bg-primary" style="color:white;">
            Your lucky number is {{ luckyNumber }}
        </h2>

        {% if kubernetesPod is not empty %}
            <h2 class="bg-info" style="color:white;">
            Kubernetes Pod: {{ kubernetesPod }}
            </h2>
        {% endif %}

    </div>

{% endblock %}