<!doctype html>
<html lang="en">
<head>
    <title>Kubernetes Symfony Demo</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <style type="text/css">
        body {
            overflow: hidden;
            background-color: #fffff0; 
        }
    </style>
</head>

<body>
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>